*,*::before,*::after{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: Mulish;
        outline: none;
        font-family: Mulish;
        
        text-decoration: none;
}
body{
        background: #31326F;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.container{
   height: 471px;
   width: 488px;
   background-color: #FFFFFF;
   display: flex;
        flex-direction: column;
        align-items: center;
}
form{
        display: flex;
        flex-direction: column;
        align-items: center; 
        height:15rem; 
       justify-content: space-around;
       border-top: 1px solid #EAEAEA;
       padding-top: 10px;
}
.logo{
        margin: 50px;
}
input{
        background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
height: 70px;
width: 315px;
font-style: normal;
padding: 24px;
font-weight: bold;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

letter-spacing: -0.015em;

color: #1C372A;

opacity: 0.8;
}
button{
        height: 50px;
width: 315px;
border:2px solid #31326F;
background-color: #31326F;
font-weight: bold;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */

text-align: center;

color: #FFFFFF;

}
input:hover{
        border:2px solid #31326F;
}
h1{
        margin-top: 5rem;
        font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 100%;
/* identical to box height, or 20px */
text-align: right;
padding-bottom: 10px;
color: #2E434E;
font-weight: 800;
margin-left: -230px;
}